.brand-logo {
  padding: 0;
  margin:0 20px 0 0;
  text-align: left;
}

.brand-logo img {
  max-height: 54px;
  object-fit: contain;
}

nav {
  overflow: hidden;
  background-color: #333;
  color:#fff;
  display:flex;
  flex-direction: column;
  position: relative;
}

nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Piilotetaan kaikki linkit paitsi ensimmäinen */
nav a:not(:first-child) {display: none;}

nav .icon {
  position: absolute;
  right: 0;
  font-size: 24px; 
  cursor: pointer; 
  padding: 10px 10px;
}
  
nav .close {
  display: none;
}

/*nav .nav-suojaus {
  display: flex;
  flex:1 0 auto;
  justify-content: flex-end;
}*/

#toggle-btn {
  position: absolute;
  visibility: hidden;
}  

/* Näytetään pystypalkki, näyttötila on tallennettu checkboxiin */
#toggle-btn:checked ~ a {
  display: inline;
  text-align: left;
}

/* Pystypalkin pohjalle tyhjää */
#toggle-btn:checked ~ a:last-child {
  padding-bottom: 16px;
}

/* Huom. labelin oletus-display on inline, myös block toimisi */
#toggle-btn:checked ~ .close {
  display: inline;
}

#toggle-btn:checked ~ .open {
  display: none;
}

@media (min-width:767px) {
  nav {flex-direction: row;}
  nav .nav-suojaus {margin-left: auto;}
  nav a:not(:first-child) {display: inline; padding: 14px 16px;}    
  nav .icon, #toggle-btn:checked ~ .close {display: none;}
}
