body {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.container {
  /*display: flex; Ehkä tämä tähän? Tai jotain muuta.*/
  flex:1;
  padding: 15px;
}

footer {
  background-color: #f5f5f5;
  text-align: center; /*Tää?*/ /*toimii kun vaan tekstiä*/
  padding: 5px;
}

form {
  max-width: 700px;
  margin: auto;
}

/*fieldset {
  border: 2px groove; 
  padding: 0.35em 0.625em 0.75em; 
  margin: 0;
}

legend {
  padding: 0; 
  font-weight: normal; 
}*/

fieldset {
  margin: 10px 0;
  /*padding: 10px;*/
  padding: 1.0em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

legend {
  font-size: 1.2em; 
  color: #333;
  float: none;
  width: auto; 
  padding: 0 10px;
  margin-bottom: 0;
}

label {
  color: darkblue;
}


@media (min-width: 576px) {
  
}

@media (min-width: 768px) {

  
}

@media (min-width: 992px) {

  
}

@media (min-width: 1200px) {

}

